[Unit]
Description=Run SW sewer data backup daily

[Timer]
OnCalendar=*-*-* 03:10:00
Persistent=true
AccuracySec=5min
Unit=sw-data-backup.service

[Install]
WantedBy=timers.target
